.login-page {
    height: 100vh; 
    margin: 0;

    display: flex; 
    justify-content: center;
    align-items: center;

    font-family: "Jersey 15", serif;
}

.login-page button {
    background: linear-gradient(135deg, #FFFFFF, #F5D4E8);
    color: #313131;

    width: 80%;
    border-radius: 12px;
    padding: 10px 18px;

    font-size: 30px;
    font-weight: 600px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.login-page .button-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 30%;
    background: white;
    border-radius: 50px;
    border: 2.5px solid #4E56C0;
    padding: 100px;
}

.logo {
    width: 100%
}