.login-page {
    background-image: url("website-assets/login-page.png");
    background-size: cover; 
    background-position: center;

    height: 100vh; 
    margin: 0;

    display: flex; 
    justify-content: center;
    align-items: center;

    font-family: "Jersey 15", serif;
}

.login-page button {
    background: linear-gradient(135deg, #FFFFFF, #F5D4E8);
    color: #313131;

    width: 80%;
    border-radius: 12px;
    padding: 10px 18px;

    font-size: 50px;
    font-weight: 600px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.login-page .button-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    width: 30%
}

.logo {
    width: 100%
}